<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <title>CityBucket</title>
  </head>
  <body>
    <div class="Title">
      <h2 class="MunicipalBody"></h2>
      <h1 class="DocumentTitle"></h2>
    </div>
    <div class="Main container">
      <div class="Report row">
        roro
      </div>
    </div>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>



    <!--  -->
    <script>

        $.getJSON("/data/communication.json", callback);

        function callback(data) {
          createTitle(data.meta);
          createMain(data.data);
        }

        function createTitle(data) {
          $('.MunicipalBody').html(data.municipal_body);
          $('.DocumentTitle').html(data.title);
        }

        function createMain(data) {
          for (let i = 0; i < data.length; i++) {


            $('.Report').append(data[i].label)
          }
        }
    </script>
  </body>
</html>
